body {
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');


.firstpage {
  background-color: #1e1d2f;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}


